@import 'assets/styles/_layout';
@import 'assets/styles/_colors';
@import 'assets/styles/_typography';
@import 'assets/styles/_components';

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    background-color: $ui-background;
    color: $text-01;
    font-family: $font-family-sans-serif;
    font-size: $font-size-03;
    font-weight: $font-weight-regular;
    line-height: 1.5;
  }

// Properties
.full-width {
  width: 100%;
}

// Sidebar
.sidebar {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  right: -$sidebar-width;
  transition: right 0.5s;
  z-index: 2;

  background-color: coral;
}
.sidebar-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.sidebar-open-overlay {
  opacity: 1;
  visibility: visible;
}
.sidebar-open {
  right: 0;
}


// Horizontal Bar
.horizontal-bar {
  display: flex;
  width: 100%;
  height: $spacing-09;

  background-color: beige;
  
  .horizontal-bar-item {
    display: flex;
    width: 100%;
    // background-color: bisque;
  }

  .stick-to-right {
    justify-content: flex-end;
  
  }
}

// Navigation
.navigation-container {
    width: max-content;
    height: 100%;
    padding: 8px;
}

.navigation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


// Form Card
.form-card {
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: space-between;
    background-color: #d0d0d0;
}

.form-card-element {
  background-color: aquamarine;
}


// Button Card
.button-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: bisque;

  .button-card-item {
    width: 100%;
  }
}