@import 'assets/styles/_layout';
@import 'assets/styles/_colors';
@import 'assets/styles/_typography';
@import 'assets/styles/_components';

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background-color: $ui-background;
  color: $text-01;
  font-family: $font-family-sans-serif;
  font-size: $font-size-03;
  font-weight: $font-weight-regular;
  line-height: 1.5;
}

// Sidebar
.sidebar {
  position: fixed;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  right: -$sidebar-width;
  transition: right 0.5s;
  z-index: 2;

  background-color: coral;
}
.sidebar-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s;
}

.sidebar-open-overlay {
  opacity: 1;
  visibility: visible;
}
.sidebar-open {
  right: 0;
}


// Horizontal Bar
.horizontal-bar {
  display: flex;
  width: 100%;
  gap: $spacing-03;
  margin: $spacing-05 0;

  // background-color: beige;
  
  .horizontal-bar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    // background-color: bisque;
  }

  .stick-to-right {
    justify-content: flex-end;
  
  }

  .tight {
    width: max-content;
  }
}

// Navigation
.navigation-container {
    width: max-content;
    height: 100%;
    padding: 8px;
}

.navigation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


// Form Card
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;

 
  // background-color: aqua;
}

.form-scrollable-body {
  overflow-y: auto;

  // background-color: aquamarine;
}

// Style for clickable icon
.icon {
  cursor: pointer;
  color: $interactive-01; 
  font-size: 24px; 

  // Ensure icon is vertically centered
  display: flex;
  align-items: center;

  // Adjust hover color as needed
  &:hover {
    color: darken($interactive-01, 10%);
  }

  &.white {
    color: $text-04;

    &:hover {
      color: darken($text-04, 10%);
    }
  }
}
