<div class="selection-container pattern-dots-0">

</div>


<div class="working-container">
    <form [formGroup]="rawLoginForm" class="container-with-limited-input" (ngSubmit)="onSubmit()">
        <h3>Sign in</h3>
        <div *ngIf="errorMessage">
            <div class="alert alert-danger" role="alert">
                {{errorMessage}}
            </div>  
        </div>
        <div *ngIf="callerMessage">
            <div class="alert alert-danger" role="alert">
                {{callerMessage}}
            </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input formControlName="email" type="email" class="form-control" (keyup)="onKeyboardChange($event)" placeholder="email">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input formControlName="password" type="password" class="form-control" (keyup)="onKeyboardChange($event)" placeholder="password">
          </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!rawLoginForm.valid">Sign in</button>
    </form>
</div>