<button (click)="addDocument()">+</button>
<form [formGroup]="processForm" (ngSubmit)="onSubmit()">
    <div formGroupName="nameAndSteps">
        <input type="text" formControlName="name" placeholder="Name"/>
        <input type="text" formControlName="steps" placeholder="All steps separated by comma"/>
    </div>

    <div formArrayName="documents">
        <div *ngFor="let doc of documents.controls; let i=index" [formGroupName]="i">
            <select formControlName="documentId">
                <option *ngFor="let opt of documentTypeOptions" [ngValue]="opt">
                    {{opt}}
                </option>
            </select>
        </div>
    </div>
    <button type="submit">Submit</button>

</form>

<!-- Sidebar -->
<div>
    <div *ngFor="let prcsId of processTypeInDB">
        <a routerLink="/model/process/connect/{{prcsId}}">{{prcsId}}</a>
    </div>
</div>