@import '../../../assets/styles/_spacing';
@import '../../../assets/styles/_typography';
@import '../../../assets/styles/_colors';

.table-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}

.scrollable-body {
    overflow-y: auto;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-02 0;
}
th {
    width: 100%;
    padding: $spacing-03;
    border-bottom: 1px solid $ui-05;
    text-align: left;
    // background-color: $ui-02;
}
td {
    width: 100%;
    padding: $spacing-03;
    border-bottom: 1px solid $ui-05;
    text-align: left;
}
