{% extends "main.html" %}

{% load static %}

{% block content_main %}
{% csrf_token %}
<div class="modelContainer1">
    
    <div class="modelContainer11">
        <div id="modelForm" class="modelContainer111">
            <button id="addObjectType">Add Object Type</button>
            <button id="addProcess">Add Process</button>

            <div id="typeForm">

            </div>
            <div id="typeButtons">

            </div>
        </div>
            
        <div id="objectsList" class="modelContainer112">
            objecis list
        </div>
        
        <div id="processesList" class="modelContainer113">
            processes list
        </div>
    </div>

    <div class="modelContainer12">
        hello
    </div>

</div>

<script type="module" src={% static "model/model.js" %}></script>
<link rel="stylesheet" href="{% static 'model/model.css' %}">

{% endblock content_main %}