{% extends "main.html" %}

{% load static %}

{% block content_main %}
{% csrf_token %}
<div id="modelContainer1">
    

    <div id="modelForm">
        <button id="addObjectType">Add Object Type</button>
        <button id="addProcess">Add Process</button>
        {% comment %} <button id="addActivityType">Add Activity Type</button> {% endcomment %}

        <div id="typeForm">

        </div>
        <div id="typeButtons">

        </div>
    </div>

    <div id="modelCanvas">
        hello
    </div>

</div>

<script type="module" src={% static "model/model.js" %}></script>
<link rel="stylesheet" href="{% static 'model/model.css' %}">

{% endblock content_main %}