<div class="container-0-model-process">
    <div>
        <h3>Design Process</h3>
        <div class="container-1-model-process-tab-bar">
          <div class="tab-button" 
               *ngFor="let tab of tabs; let i = index" 
               (click)="selectTab(tab.value)" 
               [class.tab-button-active]="selectedTab === tab.value">
            {{ tab.label }}
          </div>
        </div>
      </div>

    <div class="container-1-model-process-main-section">
        <ng-container *ngIf="selectedTab === 'generate'; then generate"></ng-container>
        <ng-container *ngIf="selectedTab === 'connect'; then connect"></ng-container>
        <ng-container *ngIf="selectedTab === 'fields'; then fields"></ng-container>
        <ng-container *ngIf="selectedTab === 'requirement'; then requirement"></ng-container>
        <ng-container *ngIf="selectedTab === 'action'; then action"></ng-container>
    </div>

    <div>
        <ng-container *ngIf="!showPreviewSection; then buttonBar"></ng-container>
    </div>

    <div *ngIf="showPreviewSection" class="container-1-model-process-preview-section preview-section" >
        <ng-container *ngIf="showPreviewSection; then buttonBar"></ng-container>
        <div *ngIf="showPreviewSection" class="container-1-model-process-preview-section-preview">
            <app-process-preview
                [allStepsObject]="allStepsObject"
            ></app-process-preview>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    [side bar]
</div>
<!-- Overlay -->
<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>


<ng-template #buttonBar>
    <div class="container-0-button-bar">
        <div *ngIf="selectedTab === 'generate'">
            <button class="button button-secondary" (click)="addDocumentType()">Add Document Type</button>
        </div>
        <div *ngIf="selectedTab !== 'generate'">
            <button class="button button-secondary" (click)="putProcess()">Save</button>
        </div>
        <div>
            <span class="icon-container" (click)="togglePreviewSection()">
                <span class="material-symbols-outlined" *ngIf="showPreviewSection">
                    keyboard_arrow_down
                </span>
                <span class="material-symbols-outlined" *ngIf="!showPreviewSection">
                    keyboard_arrow_up
                </span>
            </span>
        </div>
        <div>
            <div *ngIf="selectedTab === 'generate'">
                <button class="button button-primary" (click)="onGenerateProcessSubmit()" [disabled]="!generateProcessForm.valid">Generate</button>
            </div>
            <div *ngIf="selectedTab !== 'generate'">
                <button class="button button-primary" (click)="publishProcess()">Publish</button>
            </div>
        </div>         
    </div> 
</ng-template>

<ng-template #generate>
    <!-- left section -->
    <div class="container-2-model-process-main-section-left-tab">
        <h6>Create New Process</h6>
        <form [formGroup]="generateProcessForm">
            <div formGroupName="nameAndSteps" class="form-sub-container-0">
                <input class="input" type="text" formControlName="name" placeholder="Name"/>
                <input class="input" type="text" formControlName="steps" placeholder="All steps separated by comma"/>
            </div>

            <div formArrayName="documents" class="form-sub-container-0">
                <div *ngFor="let doc of documents.controls; let i=index" [formGroupName]="i" class="form-sub-container-1">
                    Document
                    <select class="select" formControlName="documentId">
                        <option *ngFor="let opt of documentTypeIds" [ngValue]="opt">
                            {{opt}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <!-- right section -->
    <div class="container-2-model-process-main-section-right-tab">
        <h6>Select Existing Process</h6>
        <div *ngFor="let processId of processTypeIds">
            <div class="clickable-div" (click)="selectProcess(processId)">{{processId}}</div>
        </div>
    </div>
</ng-template>

<ng-template #connect>
    <!-- left section -->
    <div class="container-2-model-process-main-section-left-tab">
        Step
        <div *ngFor="let step of allStepsList" class="connect-steps-container-0">
            <div  (click)="selectStep(step)" class="connect-steps-container-1-steps clickable-div">
                {{step}}
            </div>
            <div class="connect-steps-container-1-next-steps">
                <div class="non-clickable-div" *ngFor="let nextStep of allStepsObject[step]['next_steps']['steps']">
                        {{nextStep}}
                </div>
            </div>
        </div>
    </div>

    <!-- right section -->
    <div class="container-2-model-process-main-section-right-tab">
        <div *ngIf="selectedStepKey !== ''">
            Valid Next Steps
            <div class="clickable-div" *ngFor="let validNextStep of ValidNextSteps" (click)="addNextStep(validNextStep)">
                {{validNextStep}}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fields>
    <!-- left section -->
    <div class="container-2-model-process-main-section-left-tab">
        Step
        <div *ngFor="let step of allStepsList" class="field-types-container-0">
            <div (click)="selectStep(step)" class="field-types-container-11 clickable-div">
                {{step}}
                [{{selectedProcessObject.steps[step].event_type}}]
            </div>
            <div class="field-types-container-12">
                <div *ngFor="let documentId of selectedProcessObject.steps[step].fields | keyvalue" class="field-types-container-20">
                    <div *ngFor="let field of selectedProcessObject.steps[step].fields[documentId.key].document_fields" class="non-clickable-div">
                        {{field}}
                    </div>
                    <div *ngFor="let field of selectedProcessObject.steps[step].fields[documentId.key].lead_object_fields" class="non-clickable-div">
                        {{field}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- right section -->
    <div class="container-2-model-process-main-section-right-tab">
        Select Step Type for <b>{{selectedStepKey}}</b>
        <div *ngIf="selectedStepKey !== ''" class="container-2-model-process-main-section-right-tab-button-bar">
            <button class="button button-secondary" (click)="selectEventType('create')">Create</button>
            <button class="button button-secondary" (click)="selectEventType('read')">Read</button>
            <button class="button button-secondary" (click)="selectEventType('update')">Update</button>
        </div>

        <div *ngIf="selectedEventType === 'update'">
            Update Document Fields
            <div *ngFor="let document of selectedProcessDocuments | keyvalue" class="connect-steps-container-0">
                <div 
                    *ngFor="let extraAttribute of document.value.attributes | keyvalue"
                    (click)="addUpdateDocumentField(document.key, extraAttribute.key)"
                    class="clickable-div"
                >
                    {{extraAttribute.key}}
                </div>
            </div>
            Update Master Data Fields
            <div *ngFor="let document of selectedProcessDocuments | keyvalue">
                <div 
                    *ngFor="let field of document.value.editable_fields"
                    (click)="addUpdateSourceField(document.key, field)"
                    class="clickable-div"
                >
                    {{field}}
                </div>
            </div>
        </div>
        <div *ngIf="selectedEventType === 'create'">
            Create Document (Fields)
            <div 
                *ngFor="let document of selectedProcessDocuments | keyvalue"
                (click)="addCreateDocumentField(document.key)"
                class="clickable-div"
            >
                {{document.value.name}}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #requirement>
    <!-- left section -->
    <div class="container-2-model-process-main-section-left-tab">
        <div *ngFor="let step of allStepsList" class="connect-steps-container-0">
            <div (click)="selectStep(step)" class="connect-steps-container-1-steps clickable-div">
                {{step}}
            </div>

            <div class="connect-steps-container-1-next-steps">
                <div *ngFor="let nextStep of allStepsObject[step]['next_steps']['steps']" class="non-clickable-div">
                        {{nextStep}}
                </div>
            </div>
        </div>
    </div>
    <!-- right section -->
    <div *ngIf="selectedStepKey !== ''" class="container-2-model-process-main-section-right-tab">
        Add Transition Logic
        <div class="container-2-model-process-main-section-right-tab-transition-monaco">
            <app-monaco-editor
                [allStepsObject]="allStepsObject"
                [selectedStepKey]="selectedStepKey"
                [contentType]="requirementsContentType"
                (editorContentChange)="onMonacoRequirementContentChagne($event)"
            ></app-monaco-editor>
        </div>
    </div>
</ng-template>

<ng-template #action>
    <!-- left section -->
    <div class="container-2-model-process-main-section-left-tab">
        <div *ngFor="let step of allStepsList" class="connect-steps-container-0">
            <div (click)="selectStep(step)" class="connect-steps-container-1-steps clickable-div">
                {{step}}
            </div>

            <div class="connect-steps-container-1-next-steps">
                <div *ngFor="let nextStep of allStepsObject[step]['next_steps']['steps']" class="non-clickable-div">
                        {{nextStep}}
                </div>
            </div>
        </div>
    </div>

    <!-- right section -->
    <div *ngIf="selectedStepKey !== ''" class="container-2-model-process-main-section-right-tab">
        Add Actions
        <div class="container-2-model-process-main-section-right-tab-transition-monaco">
            <app-monaco-editor
                [allStepsObject]="allStepsObject"
                [selectedStepKey]="selectedStepKey"
                [contentType]="actionsContentType"
                (editorContentChange)="onMonacoActionContentChagne($event)"
            ></app-monaco-editor>
        </div>
    </div>
</ng-template>