<div class="container-0-model-process">
    <div>
        <h3>Design Process</h3>
        <div class="container-1-model-process-tab-bar">
            <div class="tab-button" (click)="selectTab('generate')">Generate</div>
            <div class="tab-button" (click)="selectTab('connect')">Connect</div>
            <div class="tab-button" (click)="selectTab('fields')">Step Type</div>
            <div class="tab-button" (click)="selectTab('requirement')">Transition</div>
            <div class="tab-button" (click)="selectTab('action')">Action</div>
        </div>
    </div>

    <div class="container-1-model-process-main-section">
        <ng-container *ngIf="selectedTab === 'generate'; then generate"></ng-container>
        <ng-container *ngIf="selectedTab === 'connect'; then connect"></ng-container>
        <ng-container *ngIf="selectedTab === 'fields'; then fields"></ng-container>
        <ng-container *ngIf="selectedTab === 'requirement'; then requirement"></ng-container>
        <ng-container *ngIf="selectedTab === 'action'; then action"></ng-container>
    </div>

    <div>
        <ng-container *ngIf="!showPreviewSection; then buttonBar"></ng-container>
    </div>

    <div *ngIf="showPreviewSection" class="container-1-model-process-preview-section preview-section" >
        <ng-container *ngIf="showPreviewSection; then buttonBar"></ng-container>
        <div *ngIf="showPreviewSection">
            <app-process-preview
                [allStepsObject]="allStepsObject"
            ></app-process-preview>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    [side bar]
</div>
<!-- Overlay -->
<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>


<ng-template #buttonBar>
    <div class="container-0-button-bar">
        <div *ngIf="selectedTab === 'generate'">
            <button class="button button-secondary" (click)="addDocumentType()">Add Document Type</button>
        </div>
        <div>
            <span class="icon-container" (click)="togglePreviewSection()">
                <span class="material-symbols-outlined" *ngIf="showPreviewSection">
                    keyboard_arrow_down
                </span>
                <span class="material-symbols-outlined" *ngIf="!showPreviewSection">
                    keyboard_arrow_up
                </span>
            </span>
        </div>
        <div>
            <div *ngIf="selectedTab === 'generate'">
                <button class="button button-secondary" (click)="onGenerateProcessSubmit()">Generate</button>
                <!-- <button class="button button-primary" (click)="publishProcess()">Publish</button> -->
            </div>
        </div>         
    </div> 
</ng-template>

<ng-template #generate>
    <!-- left section -->
    <div>
        <h6>Create New Process</h6>
        <form [formGroup]="generateProcessForm">
            <div formGroupName="nameAndSteps">
                <input class="input-field" type="text" formControlName="name" placeholder="Name"/>
                <input class="input-field" type="text" formControlName="steps" placeholder="All steps separated by comma"/>
            </div>

            <div formArrayName="documents">
                <div *ngFor="let doc of documents.controls; let i=index" [formGroupName]="i">
                    Document
                    <select formControlName="documentId" class="select-field select-field-process">
                        <option *ngFor="let opt of documentTypeIds" [ngValue]="opt">
                            {{opt}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <!-- right section -->
    <div>
        <h6>Select Existing Process</h6>
        <div *ngFor="let processId of processTypeIds">
            <div (click)="selectProcess(processId)">{{processId}}</div>
        </div>
    </div>
</ng-template>

<ng-template #connect>
    <!-- left section -->
    <div>
        <div *ngFor="let step of allStepsList">
            <div (click)="selectStep(step)">
                Step: {{step}} | next steps: 
                <span *ngFor="let nextStep of allStepsObject[step]['next_steps']['steps']">
                        {{nextStep}}
                </span>
            </div>
        </div>
    </div>

    <!-- right section -->
    <div>
        <div *ngIf="selectedStepKey !== ''">
            Valid Next Steps
            <div *ngFor="let validNextStep of ValidNextSteps" (click)="addNextStep(validNextStep)">
                {{validNextStep}}
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fields>
    <!-- left section -->
    <div>
        <div *ngFor="let step of allStepsList">
            <div (click)="selectStep(step)">
                Step: {{step}}
            </div>
        </div>
    </div>
    <!-- right section -->
    <div>
        <div *ngIf="selectedStepKey !== ''">
            <button (click)="selectEventType('create')">Create</button>
            <button (click)="selectEventType('read')">Read</button>
            <button (click)="selectEventType('update')">Update</button>
        </div>

        <div *ngIf="selectedEventType === 'update'">
            document fields
            <div *ngFor="let document of selectedProcessDocuments | keyvalue">
                <div 
                    *ngFor="let extraAttribute of document.value.attributes | keyvalue"
                    (click)="addUpdateDocumentField(document.key, extraAttribute.key)"
                >
                    {{document.value.name}} -> {{extraAttribute.key}}
                </div>
            </div>

            source data fields
            <div *ngFor="let document of selectedProcessDocuments | keyvalue">
                <div 
                    *ngFor="let field of document.value.editable_fields"
                    (click)="addUpdateSourceField(document.key, field)"
                >
                    {{document.value.name}} -> {{document.value.lead_object}} -> {{field}}
                </div>
            </div>
        </div>

        <div *ngIf="selectedEventType === 'create'">
            documents to create
            <div 
                *ngFor="let document of selectedProcessDocuments | keyvalue"
                (click)="addCreateDocumentField(document.key)"
            >
                {{document.value.name}}
            </div>
        </div>

    </div>
</ng-template>

<ng-template #requirement>
    <!-- left section -->
    <div>
        <div *ngFor="let step of allStepsList">
            <div (click)="selectStep(step)">
                Step: {{step}} | next steps: 
                <span *ngFor="let nextStep of allStepsObject[step]['next_steps']['steps']">
                        {{nextStep}}
                </span>
            </div>
        </div>
    </div>
    <!-- right section -->
    <div>
        <div *ngIf="selectedStepKey !== ''">
            <app-monaco-editor
                [allStepsObject]="allStepsObject"
                [selectedStepKey]="selectedStepKey"
                [contentType]="requirementsContentType"
                (editorContentChange)="onMonacoRequirementContentChagne($event)"
            ></app-monaco-editor>
        </div>
    </div>
</ng-template>

<ng-template #action>
    <!-- left section -->
    <div>
        <div *ngFor="let step of allStepsList">
            <div (click)="selectStep(step)">
                Step: {{step}} | next steps: 
                <span *ngFor="let nextStep of allStepsObject[step]['next_steps']['steps']">
                        {{nextStep}}
                </span>
            </div>
        </div>
    </div>
    <!-- right section -->
    <div>
        <div *ngIf="selectedStepKey !== ''">
            <app-monaco-editor
                [allStepsObject]="allStepsObject"
                [selectedStepKey]="selectedStepKey"
                [contentType]="actionsContentType"
                (editorContentChange)="onMonacoActionContentChagne($event)"
            ></app-monaco-editor>
        </div>
    </div>
</ng-template>