<div class="container-0-model-master">
    <div class="container-1-model-master-main-section">
        <h3>
            Add Document Type
        </h3>
        <form [formGroup]="documentTypeForm">
            <div formGroupName="requiredAttributes" class="form-sub-container-1"> 
                <input class="input" type="text" formControlName="name" placeholder="Name"/>
            </div>
            <div class="form-sub-container-1">
                <h6>Lead Master Data Type</h6>
                <select (change)="selectLeadObject($event)" class="select">
                    <option *ngFor="let opt of leadObjectOptions" [ngValue]="opt">
                        {{opt}}
                    </option>
                </select>
            </div>
            
            <div>
                <b>Master Data fields to edit in-process</b>
                <div *ngFor="let field of editableFields">{{field}}</div>
            </div>

            <div formArrayName="extraAttributes" class="form-sub-container-0">
                <b>Document fields</b>
                <div *ngFor="let attribute of extraAttributes.controls; let i=index" [formGroupName]="i" class="form-sub-container-1">
                    <input class="input" type="text" formControlName="name" placeholder="Attribute Name" />
                    <select class="select" formControlName="dtype">
                        <option *ngFor="let opt of dtypeOptions" [ngValue]="opt">
                            {{opt}}
                        </option>
                    </select>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-auto showSidebarButton">
        <span class="icon-container" (click)="toggleSidebar()">
            <span class="material-symbols-outlined">
                keyboard_arrow_left
            </span>
        </span>
    </div>

    <div>
        <ng-container *ngIf="!showPreviewSection; then buttonBar"></ng-container>
    </div>

    <div *ngIf="showPreviewSection" class="container-1-master-preview-section preview-section" >
        <ng-container *ngIf="showPreviewSection; then buttonBar"></ng-container>
        <div *ngIf="showPreviewSection" class="container-1-master-preview-section-preview">
            [preview section]
        </div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    <h3>Add fields to edit in-process</h3>
    <div *ngFor="let field of leadObjectFields" >
        <div class="sidebar-item-click" *ngIf="!editableFields.includes(field)" (click)="addEditableField(field)">{{field}}</div>
    </div>
</div>
<!-- Overlay -->
<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>


<ng-template #buttonBar>
    <div class="container-0-button-bar">
        <div class="left-aligned">
            <button class="button button-secondary" (click)="addAttribute()">Add Field</button>
        </div>
        <div>
            <span class="icon-container" (click)="togglePreviewSection()">
                <span class="material-symbols-outlined" *ngIf="showPreviewSection">
                    keyboard_arrow_down
                </span>
                <span class="material-symbols-outlined" *ngIf="!showPreviewSection">
                    keyboard_arrow_up
                </span>
            </span>
        </div>
        <div class="right-align">
            <button class="button button-primary" (click)="postDocumentType()" [disabled]="!documentTypeForm.valid">Submit</button>
        </div>
    </div> 
</ng-template>
