.container-0-model-master {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

.container-1-model-master-main-section {
    /* background-color: aqua; */
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 2%;
    padding: 1%;
}


.container-1-master-preview-section {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 35vh;
}
.container-1-master-preview-section-preview {
    /* background-color: aliceblue; */
    height: 100%;
}
.hidden {
    display: none !important;
}


.container-0-button-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
    /* background-color: darkolivegreen; */
}
.container-0-button-bar > div:first-child {
    justify-self: start;
}

.container-0-button-bar > div:last-child {
    justify-self: end;
}


.connect-steps-container-0 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.connect-steps-container-1-steps {
    /* background-color: beige; */
    margin-bottom: 5px;
}
.connect-steps-container-1-next-steps {
    display: flex;
    flex-direction: row;
    /* background-color: burlywood; */
    margin-bottom: 5px;
    gap: 5%;
}


.container-2-model-process-main-section-right-tab-button-bar {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color:bisque; */
}


.field-types-container-0 {

}
.field-types-container-1-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: beige;
    margin-bottom: 5px;
}
.field-types-container-2-fields {
    display: flex;
    flex-direction: column;
    background-color: beige;
    gap: 10px;
}
.field-types-container-3-fields {
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* background-color: blue; */
}