<div class="container-0-ops-master">
    <!-- Navigation section -->
    <div class="container-1-ops-master-left-section">
        <h3>Master Data</h3>
        <div *ngIf="masterDtypeIdsList$ | async as masterDtypeIdsList; else loading" >
            <div *ngFor="let id of masterDtypeIdsList['ids']" (click)="selectMasterDataById(id)" class="selectable-item">
                {{id}} 
            </div>
        </div>
    </div>
    
    
    <!-- Main section -->
    <div class="container-1-ops-master-right-section">
        <div *ngIf="masterDataById$ | async as masterDataById; else loading">
            <div class="container-2-ops-master-top-bar">
                <h5>{{masterDataType}}</h5>
                <button class="button button-secondary" (click)="showAuxiliarySectionCreateMasterData(masterDataById['metadata']['columns'], masterDataById['metadata']['columns'])">Add new {{masterDataType}}</button>
            </div>
            <div class="table-container">
                <div *ngFor="let columnName of masterDataById['metadata']['columns']" class="table-row">
                    {{columnName}}
                </div>
            </div>
            <div *ngFor="let masterDataEntry of masterDataById['data']" class="table-container">
                <div *ngFor="let columnName of masterDataById['metadata']['columns']" class="table-row" >
                    {{masterDataEntry[columnName]}}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Auxiliary section -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    <app-ops-sidebar 
        *ngIf="auxiliarySection"
        [sidebarPackage]="sidebarPackage"
        (dataEvent)="applySidebarEffects($event)"
    >
    </app-ops-sidebar>
</div>



<!-- Optional templates -->
<ng-template #loading>
    Select Master Data
</ng-template>

<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>
