<!-- Navigation section -->
<div>
    Master Data
    <div *ngIf="masterDtypeIdsList$ | async as masterDtypeIdsList; else loading">
        <div *ngFor="let id of masterDtypeIdsList['ids']" (click)="selectMasterDataById(id)">
            {{id}}
        </div>
    </div>
</div>


<!-- Main section -->
<div>
    <div *ngIf="masterDataById$ | async as masterDataById; else loading">
        <div>
            <span *ngFor="let columnName of masterDataById['metadata']['columns']">
                {{columnName}}
            </span>
        </div>
        <button (click)="showAuxiliarySection('create', {})">Add new</button>
        <div *ngFor="let masterDataEntry of masterDataById['data']" (click)="showAuxiliarySection('read', masterDataEntry)">
            {{masterDataEntry | json}}
        </div>
    </div>
</div>


<!-- Auxiliary section -->
<app-ops-sidebar 
    *ngIf="auxiliarySection"
    [sidebarType]="sidebarType"
    [sidebarData]="sidebarData"
>
</app-ops-sidebar>

<ng-template #loading>
    Loading...
</ng-template>