.container-0-ops-master {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.container-1-ops-master-left-section {
    background-color: aqua;
    height: 100%;
    overflow-y: auto;
    padding: 1%;
}

.container-1-ops-master-right-section {
    background-color:darkcyan;
    overflow-y: auto;
    height: 100%;
    padding: 1%;
}