@if (masterDataId) {
  <form [formGroup]="masterDataFromClient" class="form-wrapper">
    <div class="form-scrollable-body">
      <div class="horizontal-bar">
        <div class="checkbox-wrapper">
          <span class="material-symbols-outlined checkbox-icon" [class.checked]="true" [class.disabled]="true">
            check_box
          </span>
          <label class="checkbox-label">Required</label>
        </div>
        <div class="select-wrapper">
          <select class="select" required disabled>
            <option  class="select-option">string</option>
          </select>
          <span class="material-symbols-outlined dropdown-arrow">expand_more</span>
        </div>
        <div class="horizontal-bar-item">
          <input type="text" id="display_name" formControlName="display_name" placeholder="Display Name" required>
        </div>
        <div class="horizontal-bar-item">
          <input type="text" disabled placeholder="Default Value" required>
        </div>
      </div>
  
      <div formArrayName="attributes">
        <div *ngFor="let attribute of attributes.controls; let i=index" [formGroupName]="i" >
          <div class="horizontal-bar">
            <div class="checkbox-wrapper">
              <span class="material-symbols-outlined checkbox-icon" [class.checked]="attribute.value.is_required" (click)="toggleCheckbox(attribute)">
                {{ attribute.value.is_required ? 'check_box' : 'check_box_outline_blank' }}
              </span>
              <label class="checkbox-label">Required</label>
              <input type="checkbox" formControlName="is_required" hidden>
            </div>
  
            <div class="select-wrapper">
              <select class="select" id="type" formControlName="type" required>
                <option class="select-option" *ngFor="let option of fieldTypeOptions" [value]="option">{{ option }}</option>
              </select>
              <span class="material-symbols-outlined dropdown-arrow">expand_more</span>
            </div>
  
            <div class="horizontal-bar-item">
              <input type="text" id="display_name" formControlName="display_name" placeholder="Display Name" required>
            </div>
  
            <div class="horizontal-bar-item">
              <input type="text" id="default_value" formControlName="default_value" placeholder="Default Value" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <button type="button" (click)="addAttribute()">
      </button>
    </div>
  </form>
  
  
}
<!-- <button class="button-card-item" type="button" (click)="onSubmit()" [disabled]="masterDataFromClient.pristine">
    <mat-icon>save</mat-icon>
    Submit
</button> -->