body,
html {
  font-family: "IBM Plex Sans", sans-serif;
  height: 100%;
  margin: 0;
}
.container-0 {
  display: grid;
  height: 100vh;
}

.selectable-item {
  background-color: white;
}
.selectable-item:hover {
  background-color: beige;
  cursor: default;
}

/* Sidebar */
.sidebar {
  width: 30%;
  position: fixed;
  top: 0;
  right: -30%;
  height: 100%;
  transition: right 0.5s;
  z-index: 2;
  padding: 1%;
  background-color: white;
}
.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0; /* Start with the overlay being transparent */
  visibility: hidden; /* Start with the overlay not being visible */
  transition: opacity 0.5s ease, visibility 0.5s; /* Smooth transition for opacity and visibility */
}
.active-overlay {
  opacity: 0.2; /* Fully visible when active */
  visibility: visible; /* Make it visible when active */
}
.active-sidebar {
  right: 0;
}
.sidebar-item-container {
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
}
.sidebar-item-container:hover,
.sidebar-item-container:focus {
  background-color: var(--bg-teritiary);
  outline: none;
}
.showSidebarButton {
  display: flex;
  align-items: center; /* Vertically center align */
  justify-content: flex-end; /* Horizontally right align */
  /* position: absolute; */
  /* right: 0; */
  position: fixed;
  right: 20px; /* Adjust based on your layout preference */
  bottom: 50%; /* Keeps the button at the bottom-right of the viewport */
}

.ops-sidebar-container-0 {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.ops-sidebar-container-1 {
  display: flex;
  flex-direction: column;
  row-gap: 1%;
  background-color:darkcyan;
  overflow-y: auto;
  height: 100%;
}
.ops-sidebar-container-2 {
  width: 100%;
  background-color: #985884;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ops-sidebar-container-3 {
  display: flex;
  justify-content: space-between;
}


/* Preview section */
.preview-section {
  background-color: #323232;
  background-image: radial-gradient(
    circle,
    #985884 1px,
    transparent 1px
  );
  background-size: 30px 30px;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.2);
  padding: 1%;
}
.container-1-model-process-preview-section-preview {
  margin: 1%;
}


/* Forms */
input {
  padding: 1%;
}
select {
  padding: 1%;
}
form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 10px;
  max-width: max-content;
}
.form-sub-container-0 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: #985884;
}
.form-sub-container-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Table */
.table-container {
  display: flex;
  flex-direction: row; /* Change to column to stack rows vertically */
  justify-content: space-between;
  overflow: hidden;
  padding: 1%;
  width: 100%; /* Ensure the table container fills its parent */
}

.table-row {
  border-bottom: 1px solid #000;
  min-width: 0; /* Allows the element to shrink below its content size if necessary */
  text-align: left;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap; /* Prevents text from wrapping and ensures scrolling */
  flex-grow: 1; /* Allows the row to grow to fill available space */
  flex-shrink: 1; /* Allows the row to shrink if needed */
  flex-basis: 0; /* Initial size of the flex item */
  padding: 0.5%; /* Optional: Adds some padding inside each row */
}


