<div style="display: flex; flex-direction: column; position: relative;">
    <div *ngIf="stepSelected">
        <button (click)="addNextStep()">+</button>
        <form [formGroup]="stepsForm">
            <div formArrayName="stepsArray">
                <div *ngFor="let step of stepsArray.controls; let i=index" [formGroupName]="i">
                    <select formControlName="step" [(ngModel)]="selectedNextStep">
                        <option *ngFor="let opt of allStepsArray">
                            {{opt}}
                        </option>
                    </select>
                    {{selectedNextStep}}
                    <button (click)="getSidebarTransitionLogic()">add logic</button>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Sidebar -->
    <div>
        <div *ngIf="sidebarContent == 'stepsList'">
            connceted steps
            <div *ngFor="let step of allConnectedSteps" (click)="getStepForm(step)">
                {{step}}
            </div>

            unconnceted steps
            <div *ngFor="let step of allUnconnectedSteps" (click)="getStepForm(step)">
                {{step}}
            </div>
        </div>
        <div *ngIf="sidebarContent == 'transitionLogic'">
            <div>
                <button>Cancel</button>
                <button>Save</button>
            </div>
        </div>
    </div>
    
    <!-- Preview -->
    <div style=" max-height: 40vh; min-height: 400px; position: fixed; width: 100%; height: 100%; bottom: 0; left: 0; background-color: #e0e0e0;">
        <app-process-preview
            [allStepsObject]="allStepsObject"
        ></app-process-preview>
    </div>
</div>
