<div style="display: flex; flex-direction: column; position: relative;">
    <div *ngIf="stepSelected">
        current step: {{selectedStepKey}}
        <div *ngFor="let selectedStepAttribute of selectedStep | keyvalue">
            <div *ngIf="selectedStepAttribute.key == 'column'">
                Column: {{selectedStep['column']}}
            </div>
            <div *ngIf="selectedStepAttribute.key == 'next_steps'">
                <div *ngFor="let nextStep of selectedStepAttribute.value">
                    added next steps: {{nextStep}}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sidebar -->
    <div>
        <div *ngIf="sidebarContent == 'stepsList'">
            connceted steps
            <div *ngFor="let step of allConnectedSteps" (click)="getNextStepsListSidebar(step)">
                {{step}}
            </div>

            unconnceted steps
            <div *ngFor="let step of allUnconnectedSteps" (click)="getNextStepsListSidebar(step)">
                {{step}}
            </div>
        </div>
        <div *ngIf="sidebarContent == 'addNextStepsForm'">
            valid next step options
            <div  *ngFor="let nextStep of getValidNextSteps()" (click)="addNextStep(nextStep)">
                {{nextStep}}
            </div>
            <button>Cancel</button>
            <button (click)="getSidebarTransitionLogicSidebar()">Continue</button>
        </div>
    </div>
    
    <!-- Preview -->
    <div style=" max-height: 40vh; min-height: 400px; position: fixed; width: 100%; height: 100%; bottom: 0; left: 0; background-color: #e0e0e0;">
        <app-process-preview
            [allStepsObject]="allStepsObject"
        ></app-process-preview>
    </div>
</div>
