.container-0-app {
    display: grid;
    grid-template-columns: auto 12fr;
}

/* Navbar */
.nav-bar {
    padding: 10px 10px 1px 10px;
    border-right: 1px solid var(--ibm-color-gray-20);
    background-color: var(--ibm-color-gray-10);
}

.nav-bar-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.nav-bar-toggle-button-icon-container {
    margin-bottom: 20px;
}