<div class="row">
  <!-- Left column for navigation -->
  <div class="col-md-auto nav-bar" [class.expanded]="expandNavbar">
    <div class="nav-bar-toggle-button-icon-container">
      <span class="icon-container">
        <span
          class="material-symbols-outlined"
          (click)="toggleNavbar()"
          *ngIf="!expandNavbar"
        >
          left_panel_open
        </span>
        <span
          class="material-symbols-outlined"
          (click)="toggleNavbar()"
          *ngIf="expandNavbar"
        >
          right_panel_open
        </span>
      </span>
    </div>

    <!-- Modelling -->
    <div
      class="nav-bar-icon-container icon-container"
      (click)="navigateTo('/model/create-master-data-type')"
    >
      <span class="material-symbols-outlined"> add </span>
      <span *ngIf="expandNavbar" class="nav-bar-text">Master Data Types</span>
    </div>
    <div
      class="nav-bar-icon-container icon-container"
      (click)="navigateTo('/model/create-document')"
    >
      <span class="material-symbols-outlined"> post_add </span>
      <span *ngIf="expandNavbar" class="nav-bar-text">Document Types</span>
    </div>
    <div
      class="nav-bar-icon-container icon-container"
      (click)="navigateTo('/model/process')"
    >
      <span class="material-symbols-outlined"> network_node </span>
      <span *ngIf="expandNavbar" class="nav-bar-text">Design Process</span>
    </div>

    <!-- Operations -->
    <div
      class="nav-bar-icon-container icon-container"
      (click)="navigateTo('/operations/master-data')"
    >
      <span class="material-symbols-outlined"> barcode </span>
      <span *ngIf="expandNavbar" class="nav-bar-text">Master Data</span>
    </div>
    <div
      class="nav-bar-icon-container icon-container"
      (click)="navigateTo('/operations/dashboard')"
    >
      <span class="material-symbols-outlined"> space_dashboard </span>
      <span *ngIf="expandNavbar" class="nav-bar-text">Dashboard</span>
    </div>
  </div>

  <!-- Right column for main content -->
  <div class="col-md no-padding">
    <router-outlet></router-outlet>
  </div>
</div>
