<div class="grid-container">
    <nav class="navigation">
        <a href="#" class="nav-item">
        <div class="nav-icon">some icon</div>
        <span class="nav-text">Home</span>
        </a>
        <a href="#" class="nav-item">
        <div class="nav-icon">some icon</div>
        <span class="nav-text">About</span>
        </a>
    </nav>
    <div class="main-section">
        <div class="top-section">
            <div class="selection-section">
                <mat-nav-list>
                    @for (masterDataElement of dbMasterDataOverviewData; track masterDataElement._id) {
                        @if (masterDataElement.display_name) {
                            <mat-list-item>{{ masterDataElement.display_name }}</mat-list-item>
                            <!-- <mat-divider></mat-divider> -->
                        } 
                        @else {
                            <mat-list-item>{{ masterDataElement._id }}</mat-list-item>
                            <!-- <mat-divider></mat-divider> -->
                        }
                    }
                </mat-nav-list>
            </div>

            <div class="working-section">
                <div class="working-section-row-container">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Master Data Overview</mat-card-title>
                            <mat-card-subtitle>This is an overview of all Master Data. Click to edit</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                    <div class="horizontal-bar">
                        <mat-form-field class="bar-element">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
                        </mat-form-field>
                        <div class="bar-element">
                            <button mat-button>
                                Add New
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <section class="table-container">
                        <table mat-table [dataSource]="filteredMasterDataOverviewData">
                            <ng-container matColumnDef="_id">
                                <th mat-header-cell *matHeaderCellDef> ID </th>
                                <td mat-cell *matCellDef="let element"> {{element._id}} </td>
                            </ng-container>
                            <ng-container matColumnDef="display_name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.display_name}} </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="masterDataOverviewColumnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let myRowData; columns: masterDataOverviewColumnsToDisplay"></tr>
        
                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
                        </table>
                    </section>
                </div>
                <button class="sidebar-toggle" (click)="toggleSidebar()">Toggle Sidebar</button>
            </div>
        </div>

        <div class="bottom-section">
            <div class="preview-section">
                preview-section content
            </div>
        </div>
    </div>
</div>
  

<!-- NOTE: The following code should not be placed inside *ngIf="sidebarOpen" because if so, 
it will be newly created on toggle and the transition will not happen -->
<div [class.sidebar-open]="isSidebarOpen" class="sidebar">
    sidebar content
</div>
<div class="sidebar-overlay" [class.sidebar-open-overlay]="isSidebarOpen" (click)="toggleSidebar()"></div>