<div class="selection-container" >
    <button type="button" (click)="reloadProcessFlowGraph()">Reload</button>
    <form [formGroup]="processTypeForm" class="container-with-scrollable-content" (ngSubmit)="onSubmit()">
        <button type="submit">Publish</button>

        <div *ngIf="selectedStepId === '__select_process_type'">
            <div class="input-group">
                <input formControlName="display_name" type="text" class="form-control" placeholder="Process Type Name">
            </div>
            <div class="card">
                <div class="card-body">
                  <p class="card-text">Documents</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li *ngFor="let document of selectedDocumentTypes" class="list-group-item">
                            {{document.display_name || document.id}}
                    </li>
                </ul>
                <div class="card-body">
                    <button (click)="onOpentSidebar()">open sidebar</button>
                </div>
            </div>
        </div>

        <div formGroupName="steps" *ngIf="selectedStepId !== '__select_process_type'">
            <div [formGroupName]="selectedStepId">
                <div class="card">
                    <div class="card-body">
                        <h2>Step</h2>
                        <div class="input-group">
                            <input formControlName="display_name" type="text" class="form-control">
                        </div>
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input formControlName="type" class="form-check-input" type="radio" id="start" [value]="'start'">
                                <label class="form-check-label" for="start">Start</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input formControlName="type" class="form-check-input" type="radio" id="automated" [value]="'automated'">
                                <label class="form-check-label" for="automated">Automated</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input formControlName="type" class="form-check-input" type="radio" id="manual" [value]="'manual'">
                                <label class="form-check-label" for="manual">Manual</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input formControlName="type" class="form-check-input" type="radio" id="end" [value]="'end'">
                                <label class="form-check-label" for="end">End</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div formGroupName="next_step" class="card">
                    <div class="card-body">
                        <h2>Next Steps</h2>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Select Step
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div class="px-3 py-2">
                                    <input type="text" #newStepInput class="form-control" placeholder="Add New">
                                    <button type="button" class="btn btn-primary mt-2" 
                                        (click)="onGenerateNewNextStep(selectedStepId, newStepInput.value)">Add New Step</button>
                                </div>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" *ngFor="let stepTrackerStep of stepsTracker | keyvalue" 
                                    (click)="onAddExistingNextStep(selectedStepId, stepTrackerStep.key)"
                                    [disabled]="stepTrackerStep.key === selectedStepId || stepsTracker[selectedStepId].nextSteps.includes(stepTrackerStep.key)"
                                >
                                    {{stepTrackerStep.value.displayName || stepTrackerStep.key}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h2>Document</h2>
                        <select formControlName="document_type" class="form-select">
                            <option *ngFor="let document of selectedDocumentTypes; let listIndex=index" [value]="document.id">
                                {{ document.display_name || document.id}}
                            </option>
                        </select> 
                    </div>
                </div>

            </div>

        </div>
    </form>
</div>


<div class="working-container">
    <app-graphs-process-flow 
        *ngIf="showProcessGraph" 
        [key]="processFlowGraphComponentKey" 
        class="container-with-scrollable-content" 
        [processFlow]="processType" 
        (processFlowSelector)="handleProcessFlowSelectorEvent($event)"
    ></app-graphs-process-flow>
</div>

<app-overlay-sidebar-checkbox *ngIf="showSidebar" (closeSidebar)="handleCloseSidebar()" [inputData]="documentTypesAsCheckboxData" (emmiterOnSave)="handleSidebarData($event)"></app-overlay-sidebar-checkbox>

<app-notification [notifications]="notifications" (notificationDismissed)="onNotificationDismissed($event)" id="notification">
</app-notification>