<mat-drawer-container class="navigation-container" autosize>
    @if (showSidenavText) {
        <button mat-button (click)="showSidenavText = !showSidenavText">
            Collapse
            <mat-icon>chevron_left</mat-icon>
        </button>
    }
    @else {
        <button mat-button (click)="showSidenavText = !showSidenavText">
            <mat-icon>chevron_right</mat-icon>
        </button>
    }
    <div class="navigation-content">
        hi NY!
        @if (showSidenavText) {
            Lorem, ipsu
          }
    </div>
</mat-drawer-container>