@import './_colors';
@import './_spacing';

.pattern-dots-0 {
    background-color: $white-0;
    background-image: radial-gradient($gray-2 1px, transparent 1px);
    background-size: $spacing-3 $spacing-3;
}


.pattern-dots-1 {
    background-color: $white-2;
    background-image: radial-gradient($gray-2 1px, transparent 1px);
    background-size: $spacing-3 $spacing-3;
}
