@import './_spacing';
.title-card {
    background-color: transparent;
    border: none;
    margin-bottom: $spacing-2;

    .card-body {
        padding-left: 0;

        p {
            font-weight: 300;
        }
    }

    .needs-padding {
        padding-left: $spacing-1;
    }
}

.control-card {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-bottom: $spacing-2;

    .card-body {
        padding: 0;
        gap: $spacing-4;
    }
}

.list-group {
    background-color: transparent;
    .active {
        padding-left: $spacing-2;
    }
}
.list-group-item {
    background-color: transparent;
    border: none;
    padding-left: 0;
    
}

.nav-link {
    color: $black-0;
    cursor: pointer;

    &:hover {
        color: $black-3;
    }
}
