$color-primary: #0062FF;
$color-secondary: #6F6F6F;
$color-background: #FFFFFF;
$color-text: #161616;
$color-link: #0062FF;
$color-success: #24A148;
$color-error: #DA1E28;
$color-warning: #F1C21B;

// Light Mode
$color-button-primary: $color-primary;
$color-button-primary-hover: darken($color-primary, 10%);
$color-button-primary-active: darken($color-primary, 20%);
$color-button-secondary: $color-secondary;
$color-button-secondary-hover: darken($color-secondary, 10%);
$color-button-secondary-active: darken($color-secondary, 20%);
$color-input-background: #F4F4F4;
$color-input-focus: #E0E0E0;
$color-input-disabled: #C6C6C6;

// Dark Mode
$color-background-dark: #161616;
$color-text-dark: #F4F4F4;
$color-button-primary-dark: lighten($color-primary, 10%);
$color-button-primary-hover-dark: $color-primary;
$color-button-primary-active-dark: darken($color-primary, 10%);
$color-button-secondary-dark: lighten($color-secondary, 10%);
$color-button-secondary-hover-dark: $color-secondary;
$color-button-secondary-active-dark: darken($color-secondary, 10%);
$color-input-background-dark: #262626;
$color-input-focus-dark: #393939;
$color-input-disabled-dark: #525252;