@import '_colors';
@import '_typography';
@import '_spacing';

input {
    width: 100%;
    // height: 100%;
    padding: $spacing-03 $spacing-04; 
    border: $spacing-00 solid transparent;
    // border-bottom: 1px solid #d0d0d0; 
    border-radius: $spacing-01; 
    transition: border-color 0.2s ease-in-out; 

    &:focus {
        outline: none;
        border-color: #007bff; 
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
    }

    &::placeholder {
        color: #bfbfbf; 
    }
}


button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-03;
    padding: $spacing-03 $spacing-05;
    text-align: center;
    text-decoration: none;
    border: $spacing-00 solid transparent;
    border-radius: $spacing-00; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    &.primary {
      color: $text-04;
      background-color: $interactive-01;
  
      &:hover {
        background-color: darken($interactive-01, 10%);
        border-color: darken($interactive-01, 10%);
      }
    }
  
    &.secondary {
      color: $interactive-01;
      background-color: $ui-02;
      border-color: $interactive-01;
  
      &:hover {
        color: #ffffff;
        background-color: $interactive-01;
      }
    }
  
    &.danger {
      color: #ffffff;
      background-color: $error-01;
      border-color: $error-01;
  
      &:hover {
        background-color: darken($error-01, 10%);
        border-color: darken($error-01, 10%);
      }
    }
  
    // Add more button styles as needed
  }
  