@import '_colors';
@import '_typography';
@import '_spacing';

input {
    width: 100%;
    // height: 100%;
    padding: $spacing-03 $spacing-04; 
    border: $spacing-00 solid transparent;
    // border-bottom: 1px solid #d0d0d0; 
    border-radius: $spacing-01; 
    transition: border-color 0.2s ease-in-out; 

    &:focus {
        outline: none;
        border-color: $interactive-03; 
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
    }

    &::placeholder {
        color: $text-03; 
    }
}


button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-03;
    padding: $spacing-03 $spacing-05;
    text-align: center;
    text-decoration: none;
    border: $spacing-00 solid transparent;
    border-radius: $spacing-00; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    
    &.primary {
      color: $text-04;
      background-color: $interactive-01;
  
      &:hover {
        background-color: darken($interactive-01, 10%);
        border-color: darken($interactive-01, 10%);
      }
    }
  
    &.secondary {
      color: $interactive-01;
      background-color: $ui-02;
      border-color: $interactive-01;
  
      &:hover {
        color: #ffffff;
        background-color: $interactive-01;
      }
    }
  
    &.danger {
      color: #ffffff;
      background-color: $error-01;
      border-color: $error-01;
  
      &:hover {
        background-color: darken($error-01, 10%);
        border-color: darken($error-01, 10%);
      }
    }
}
 
// Select Styles
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;

  .select {
    appearance: none; // Removes native dropdown styling
    background-color: $ui-background;
    border: 1px solid transparent;
    padding: $spacing-03 $spacing-04;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: $text-01;
    cursor: pointer;

    &:focus {
      outline: none;
      border-color: $interactive-01; // Focus state
    }

    &:hover {
      background-color: $ui-02; // Hover state
    }

    &:disabled {
      cursor: not-allowed;
      color: $text-03;
    }
  }

  .dropdown-arrow {
    position: absolute;
    right: $spacing-03;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; // Makes the arrow non-interactive
    color: $text-02;
  }

  
}


// Checkbox Styles
.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox-icon {
    font-size: $font-size-06; 
    color:$text-01;
    margin-right: $spacing-03;
  }
  
  .checked {
    color: $interactive-01; 
  }
  
  .checkbox-label {
    @include body($font-size-02);
    color: $text-01;
    cursor: pointer;
  }

  .disabled {
    cursor: not-allowed;
    color:$text-03;
  }

}