@import '_colors';
@import '_typography';
@import '_spacing';
// Variables
$nav-icon-width: 50px;
$nav-expanded-width: 200px;
$sidebar-width: 400px;

// Mixins
@mixin transition($property, $duration, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

#grid-container {
    display: grid;
    grid-template-columns: auto 3fr 12fr;
    grid-template-rows: 70% 30%;
    height: 100%;
    width: 100%;
    gap: $spacing-03;
    background-color: cadetblue;
}

#navigation {
    grid-row: 1/ span 2;
    // background-color: aquamarine;
}

#selection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $ui-02;
  
  .scrollable {
    flex: 1; 
    overflow: auto; 
  }
}


#activity {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  background-color: darkolivegreen;
  
  .scrollable {
    flex: 1 1 0; 
    overflow: scroll; 
    background-color: darkseagreen;
  }

  .take-full-height {
    flex: 1;
    overflow: auto;
    width: 50%;
    background-color: aquamarine;
  }
}


#preview {
    grid-column: 2 / span 2;

    width: 100%;
    height: 100%;

    background-color: burlywood;
}