@import '_colors';
@import '_typography';
// Variables
$nav-icon-width: 50px;
$nav-expanded-width: 200px;
$preview-height: 30%;
$sidebar-width: 400px;

// Mixins
@mixin transition($property, $duration, $timing-function: ease) {
  transition: $property $duration $timing-function;
}

// Grid System
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  background-color: aqua;
}

// Navigation
.navigation {
  background-color: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-medium;
  width: $nav-icon-width;
  @include transition(width, 0.3s);

  .nav-item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-medium;

    .nav-icon {
      width: $nav-icon-width;
      height: $nav-icon-width;
      // Add your icon styles here
    }

    .nav-text {
      display: none;
      margin-left: $spacing-small;
    }
  }

  &:hover {
    width: $nav-expanded-width;

    .nav-text {
      display: inline-block;
    }
  }

  background-color: aquamarine;
}

// Main Section
.main-section {
  display: grid;
  grid-template-rows: 1fr $preview-height;
  background-color: beige;
}

// Top Section
.top-section {
  display: grid;
  grid-template-columns: $sidebar-width 1fr;
  background-color: bisque;
}

// Selection Section
.selection-section {
  background-color: $color-background;
  padding: $spacing-medium;
  background-color: burlywood;
}

// Working Section
.working-section {
  background-color: $color-background;
  padding: $spacing-medium;
  background-color: cadetblue;
}

// Bottom Section
.bottom-section {
  display: grid;
}

// Preview Section
.preview-section {
  background-color: $color-background;
  padding: $spacing-medium;
  background-color: bisque;
}

// Sidebar
.sidebar {
  position: fixed;
  top: 0;
  right: -$sidebar-width;
  bottom: 0;
  width: $sidebar-width;
  background-color: $color-background;
  z-index: 999;
  background-color: coral;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}

// Sidebar Open State
.sidebar-open {
  .sidebar {
    right: 0;
    transition: right 3s ;
  }

  .sidebar-overlay {
    opacity: 1;
    visibility: visible;
  }
}