@import '_spacing';
@import '_colors';

.chart-container {
    width: 100%;
    height: 100%;
    position: relative; // Important for absolute positioning inside
  }
    
  svg {
    width: 100%;
    height: 100%;
  }
  
.overlay {
    display: flex;
    position: absolute;
    top: $spacing-03;
    left: auto;
    right: $spacing-03;

    gap: $spacing-03;
    padding: $spacing-03 $spacing-03;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    z-index: 99; 
    width:max-content;

    color: $text-02;
    background-color: $ui-02;

    &:hover {
        background-color: $ui-03;
    }
}
  
.chart-label {
    // Style your label here
}
  
.reset-button {
    // Style your reset button here
}
  