<div class="form-card">
    <div *ngFor="let field of cardFields" class="form-group">
      <!-- <label [for]="field.label">{{ field.label }}</label> -->
      <select *ngIf="field.type === 'select'" 
        class="form-control" 
        [id]="field.label" 
        [(ngModel)]="field.value" 
        (ngModelChange)="onFieldChange()"
        [disabled]="field.disabled">
        <option *ngFor="let option of field.options" [value]="option">
          {{ option }}
        </option>
      </select>

        <div class="form-control" >
            <input *ngIf="field.type === 'text'" 
              [type]="field.type" 
              [id]="field.label" 
              [(ngModel)]="field.value" 
              (ngModelChange)="onFieldChange()"
              [disabled]="field.disabled"/>
        </div>
    </div>
  </div>