<div class="card">
    <div class="card-body">
        <h2>Add New Master Data Type</h2>
    </div>
</div>
<ul class="nav nav-underline nav-fill">
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab !== 'function'" (click)="onSelectedTab('attribute')">Attributes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="selectedTab === 'function'" (click)="onSelectedTab('function')">Function</a>
    </li>
</ul>
<ng-container [ngSwitch]="selectedTab">
    <ng-container *ngSwitchCase="'attribute'">
        <ng-container *ngTemplateOutlet="__template_document_type_attribute"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'function'">
        <ng-container *ngTemplateOutlet="__template_document_type_function"></ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="__template_document_type_attribute"></ng-container>
    </ng-container>
</ng-container>




<ng-template #__template_document_type_attribute>
    <form [formGroup]="documentTypeForm" class="container-with-scrollable-content" (ngSubmit)="onSubmit()">
        <div class="input-group">
            <input formControlName="display_name" type="text" class="form-control" placeholder="Name of Document Type">
        </div>
        <div formGroupName="master_data_type" class="input-group">
            <select formControlName="id" class="form-select" (change)="onSelectMasterDataType($event)">
                <option *ngFor="let opt of masterDataTypeList" [value]="opt._id">
                    {{opt.display_name || opt._id}}
                </option>
            </select>
            <button type="button" (click)="onOpenSidebar('fields_to_display')">Select fields to display</button>
            <button type="button" (click)="onOpenSidebar('fields_to_update')">Select fields to update</button>
        </div>
    
        <div formArrayName="attributes" class="scrollable">
            <div *ngFor="let attribute of attributes.controls; let i=index" [formGroupName]="i" class="input-group">
                <select formControlName="type" class="form-select">
                    <option *ngFor="let opt of documentAttributeTypeOptions">{{opt}}</option>
                </select>
                <input formControlName="display_name" type="text" class="form-control" placeholder="Display Name">
                <input formControlName="default_value" type="text" class="form-control" placeholder="Default Value">
                <div class="input-group-text">
                    <input formControlName="is_required" class="form-check-input mt-0" type="checkbox" value="" [checked]="attribute.get('is_required')?.value || false">
                </div>
                <button (click)="removeAttribute(i)" type="button" class="btn-close"></button>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button (click)="addAttribute()" class="btn btn-secondary flex-fill" type="button">add attr</button>
            </div>
            <button class="btn btn-primary flex-fill" type="submit" [disabled]="!documentTypeForm.valid">Submit form</button>
        </div>
    </form>
</ng-template>

<ng-template #__template_document_type_function>
   hi NY!
</ng-template>

<app-overlay-sidebar-checkbox *ngIf="showSidebar" (closeSidebar)="handleCloseSidebar()" [inputData]="masterDataTypeAttributesAsCheckboxData" (emmiterOnSave)="handleSidebarData($event)"></app-overlay-sidebar-checkbox>