<!-- <div id="">
  <nav class="navbar" [class.expanded]="navbarExpanded">
    <button (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <app-design-master-home></app-design-master-home>
</div> -->

<div id="main-container" class="border">
  <div id="nav-container" class="navbar" [class.expanded]="navbarExpanded">
    <button (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div id="selection-container">
    <div>
      <div>not scroll</div>
      <div>not scroll</div>
    </div>
    <div class="scrollable">
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
      <div>1</div>
    </div>
    <div>
      <div>not scroll</div>
      <div>not scroll</div>
      <div>not scroll</div>
      <div>not scroll</div>
    </div>
  </div>
  <div id="working-container">
    working
  </div>
</div>


<!-- <router-outlet /> -->