{{authService.currentUserSignal() |json}}
{{authService.idTokenSignal() |json}}

<div class="main-container">
  <div class="navbar" [class.navbar-expanded]="navbarExpanded">
    <button (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="content-container" *ngIf="authService.currentUserSignal()">
    <router-outlet />
  </div>
  <div class="content-container" *ngIf="authService.currentUserSignal() == null">
    <app-login></app-login>
  </div>
</div>

