<div class="container-fluid">
    Add Master Data Type
    <div class="row">
        <div class="col-12" style="height: 70vh;">
            <div class="row" style="height: 100%;">
                <div class="col-md scrollable">
                    <button (click)="addAttribute()">+</button>
                    <form [formGroup]="masterDtypeForm" (ngSubmit)="onSubmit()">
                        <div formGroupName="nameAndType">
                            <input type="text" formControlName="name" placeholder="Name"/>
                            <select disabled="disabled">
                                <option value="string">string</option>
                            </select>
                        </div>
                        <div formArrayName="extraAttributes">
                            <div *ngFor="let attribute of extraAttributes.controls; let i=index" [formGroupName]="i">
                                <input type="text" formControlName="name" placeholder="Attribute Name" />
                                <select formControlName="dtype">
                                    <option *ngFor="let opt of dtypeOptions" [ngValue]="opt">
                                        {{opt}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" [disabled]="!masterDtypeForm.valid">Submit</button>
                    </form>
                </div>
                <div class="col-md-auto showSidebarButton">
                    <button (click)="toggleSidebar()">show sidebar</button>
                </div>
            </div>            
        </div>

        <div class="col-12" style="height: 30vh; background-color: gray;">
            <div>Preview section takes the top 30% of the screen</div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    Master Data List
    <div *ngFor="let mDtype of masterDtypeInDB">
        {{mDtype}}
    </div>
</div>
<!-- Overlay -->
<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>