<div class="container-0-model-master">
    <div class="container-1-model-master-main-section">
        <h3>
            Add Master Data Type
        </h3>
        <form [formGroup]="masterDtypeForm">
                <div formGroupName="nameAndType" class="form-sub-container-1">
                    <input type="text" formControlName="name" placeholder="Name"/>
                    <select disabled="disabled" >
                        <option value="string">string</option>
                    </select>
            </div>
            <div formArrayName="extraAttributes" class="form-sub-container-0">
                <div *ngFor="let attribute of extraAttributes.controls; let i=index" [formGroupName]="i" class="form-sub-container-1">
                    <input type="text" formControlName="name" placeholder="Attribute Name" />
                    <select formControlName="dtype">
                        <option *ngFor="let opt of dtypeOptions" [ngValue]="opt">
                            {{opt}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-auto showSidebarButton">
        <span class="icon-container" (click)="toggleSidebar()">
            <span class="material-symbols-outlined">
                keyboard_arrow_left
            </span>
        </span>
    </div>

    <div>
        <ng-container *ngIf="!showPreviewSection; then buttonBar"></ng-container>
    </div>

    <div *ngIf="showPreviewSection" class="container-1-master-preview-section preview-section" >
        <ng-container *ngIf="showPreviewSection; then buttonBar"></ng-container>
        <div *ngIf="showPreviewSection" class="container-1-master-preview-section-preview">
            <div>
                <div *ngFor="let field of tempPreviewData | keyvalue">
                    <span>
                        <b>{{field.key}}</b>
                    </span>
                    <span>
                        {{field.value}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    <h3>Master Data List</h3>
    <div *ngFor="let mDtype of masterDtypeInDB" class="sidebar-item-container">
        <span class="sidebar-item-read">{{mDtype}}</span>
    </div>
</div>
<!-- Overlay -->
<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>

<ng-template #buttonBar>
    <div class="container-0-button-bar">
        <div class="left-aligned">
            <button class="button button-secondary" (click)="addAttribute()">Add Field</button>
        </div>
        <div>
            <span class="icon-container" (click)="togglePreviewSection()">
                <span class="material-symbols-outlined" *ngIf="showPreviewSection">
                    keyboard_arrow_down
                </span>
                <span class="material-symbols-outlined" *ngIf="!showPreviewSection">
                    keyboard_arrow_up
                </span>
            </span>
        </div>
        <div class="right-align">
            <button class="button button-primary" (click)="onSubmit()" [disabled]="!masterDtypeForm.valid">Submit</button>
        </div>
    </div> 
</ng-template>