<div class="container-fluid">
    <div class="row">
        <!-- Main section -->
        <div class="col-12 main-section" [style.height]="getMainSectionHeight()">
            <div class="scrollable-content-area">
                <!-- scrollable content container -->
                <h3>
                    Add Master Data Type
                </h3>
                <div class="row">
                    <div class="col-md scrollable">
                        <form [formGroup]="masterDtypeForm">
                            <div class="row input-container" formGroupName="nameAndType">
                                <div class="col-3">
                                    <input class="input-field" type="text" formControlName="name" placeholder="Name"/>
                                </div>
                                <div class="col">
                                    <select class="select-field" disabled="disabled">
                                        <option value="string">string</option>
                                    </select>
                                </div>
                            </div>
                            <div formArrayName="extraAttributes">
                                <div class="row input-container" *ngFor="let attribute of extraAttributes.controls; let i=index" [formGroupName]="i">
                                    <div class="col-3">
                                        <input class="input-field" type="text" formControlName="name" placeholder="Attribute Name" />
                                    </div>
                                    <div class="col">
                                        <select class="select-field" formControlName="dtype">
                                            <option *ngFor="let opt of dtypeOptions" [ngValue]="opt">
                                                {{opt}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-auto showSidebarButton">
                        <span class="icon-container" (click)="toggleSidebar()">
                            <span class="material-symbols-outlined">
                                keyboard_arrow_left
                            </span>
                        </span>
                    </div>
                </div>   
            </div>
           
            <div class="button-bar" *ngIf="!showPreviewSection">
                <!-- button bar -->
                <div class="left-aligned">
                    <button class="button button-secondary" (click)="addAttribute()">Add Field</button>
                </div>
                <span class="icon-container" (click)="togglePreviewSection()">
                    <span class="material-symbols-outlined" *ngIf="!showPreviewSection">
                        keyboard_arrow_up
                    </span>
                </span>
                <div class="right-align">
                    <button class="button button-primary" (click)="onSubmit()" [disabled]="!masterDtypeForm.valid">Submit</button>
                </div>
            </div>
        </div>

        <!-- Preview section -->
        <div *ngIf="showPreviewSection" class="col-12 preview-section" [style.height]="getPreviewSectionHeight()">
            <div class="button-bar">
                <div class="left-aligned">
                    <button class="button button-secondary" (click)="addAttribute()">Add Field</button>
                </div>
                <div>
                    <span class="icon-container" (click)="togglePreviewSection()">
                        <span class="material-symbols-outlined" *ngIf="showPreviewSection">
                            keyboard_arrow_down
                        </span>
                        <span class="material-symbols-outlined" *ngIf="!showPreviewSection">
                            keyboard_arrow_up
                        </span>
                    </span>
                </div>
                <div class="right-align">
                    <button class="button button-primary" (click)="onSubmit()" [disabled]="!masterDtypeForm.valid">Submit</button>
                </div>         
            </div>
            <div *ngIf="showPreviewSection">Preview section takes the bottom 30% of the screen</div>
        </div>
    </div>
</div>

<!-- Sidebar -->
<div class="sidebar" [class.active-sidebar]="showSidebar">
    <h3>Master Data List</h3>
    <div *ngFor="let mDtype of masterDtypeInDB" class="sidebar-item-container">
        <span class="sidebar-item-read">{{mDtype}}</span>
    </div>
</div>
<!-- Overlay -->
<div class="overlay" [class.active-overlay]="showSidebar" (click)="toggleSidebar()"></div>