<span *ngIf="sidebarPackage">
    <span *ngIf="sidebarPackage.sidebarType === 'create'">
        <div *ngIf="sidebarPackage.contentType === 'document'">
            <div *ngFor="let entry of sidebarPackage.sidebarData | keyvalue; trackBy: trackByEntry">
                <span *ngIf="sidebarPackage.metaData.editableFields.includes(entry.key)">
                    {{entry.key}}: <input type="text" [(ngModel)]="sidebarPackage.sidebarData[entry.key]" />
                </span>
                <span *ngIf="!sidebarPackage.metaData.editableFields.includes(entry.key)">
                    {{entry.key}}: {{sidebarPackage.sidebarData[entry.key]}}
                </span>                
            </div>
        </div>

        <button (click)="onClickSave()">Save</button>
    </span>
    
    <!-- <div *ngIf="sidebarType === 'read'">
        <div *ngFor="let entry of sidebarData | keyvalue">
            {{entry.key}}: {{entry.value}}
        </div>
    </div> -->
</span>
