.ops-sidebar-container-0 {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--ibm-color-gray-10);
    color: var(--ibm-color-gray-100);
  }
  
  .ops-sidebar-container-1 {
    display: flex;
    flex-direction: column;
    gap: 2%; /* Use a fixed gap for consistency */
    overflow-y: auto;
    height: 100%;
  }
  
  .ops-sidebar-container-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%; /* Consistent padding */
    border-radius: 1px; /* Rounded corners for modern UI */
  }
  
  .ops-sidebar-container-3 {
    display: flex;
    justify-content: space-between;
    padding: 1%; /* Slight padding for inner elements */
  }

.ops-sidebar-action-button-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}