<!-- Navigation section -->
<div>
    Processes
    <div *ngFor="let processId of processTypeIds">
        <div (click)="selectProcess(processId)">
            {{processId}}
        </div>
    </div>
</div>

<!-- Main section -->
<div>
    <div *ngIf="(mainSectionFocus === 'processInformaiton') && (selectedProcessTypeId !== '')">
        <button (click)="createNewProcessInstance(selectedProcessTypeId)">new process instance</button>
        <div *ngFor="let processInstance of selectedProcessInstances" (click)="selectProcessInstance(processInstance)">
            {{processInstance}}
        </div>
    </div>

    <!-- Select step -->
    <!-- if new, select start step and continue; if not continue -->
    <div *ngIf="(mainSectionFocus === 'processOperationsSelectStep') && (selectedProcessInstance.operations_status === '00_PROCESS_CREATED')">
        select start step
        <div 
            *ngFor="let startStep of getStartSteps()"
            (click)="selectOperationsStep(startStep)"
        >
            {{startStep}}
        </div>
    </div>

    <div
        *ngIf="(mainSectionFocus === 'processOperationsSelectStep') && (selectedProcessInstance.operations_status !== '00_PROCESS_CREATED')">
        select start step
        <div (click)="selectOperationsStep(selectedProcessInstanceCurrentOperationsStatus)">
            {{selectedProcessInstanceCurrentOperationsStatus}}
        </div>
    </div>

    <!-- Actions -->
    <div *ngIf="mainSectionFocus === 'processOperationsAction'">
        <!-- <div *ngFor="let documentInstance of selectedProcessInstance.documents | keyvalue; let i=index">
            {{documentInstance.key}}

            <button (click)="check(documentInstance)">{{documentInstance}}</button>
            <button (click)="check(documentInstance)">{{documentInstance.value}}</button>
            {{documentInstance.value.lead_object}}
            <div *ngFor="let stepDocument of selectedStepObject.fields | keyvalue">
                {{stepDocument.key}}
                <div *ngIf="documentInstance.key === stepDocument.key">
                    <div *ngFor="let documentInstanceField of documentInstance | keyvalue">
                        {{documentInstanceField.key}}
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>

<!-- Auxiliary section -->
<div>
    aux
</div>
