<!-- Navigation section -->
<div>
    Processes
    <div *ngFor="let processId of processTypeIds">
        <div (click)="selectProcess(processId)">
            {{processId}}
        </div>
    </div>
</div>

<!-- Main section -->
<div>
    <div *ngIf="(mainSectionFocus === 'processInformaiton') && (selectedProcessTypeId !== '')">
        <button (click)="createNewProcessInstance(selectedProcessTypeId)">new process instance</button>
        <div *ngFor="let processInstance of selectedProcessTypeInstanceIds" (click)="selectProcessInstance(processInstance)">
            {{processInstance}}
        </div>
    </div>

    <!-- Select step -->
    <!-- if new, select start step and continue; if not continue -->
    <div *ngIf="(mainSectionFocus === 'processOperationsSelectStep') && (selectedProcessInstance.operations_status === '00_PROCESS_CREATED')">
        hi ny!
        01 - {{selectedProcessInstance.operations_status}}
        <div 
            *ngFor="let startStep of getStartSteps()"
            (click)="selectOperationsStep(startStep)"
        >
            {{startStep}}
        </div>
    </div>

    <div
        *ngIf="(mainSectionFocus === 'processOperationsSelectStep') && (selectedProcessInstance.operations_status !== '00_PROCESS_CREATED')">
        select step
        <button (click)="check(selectedProcessInstance)">check PI</button>
        <div (click)="selectOperationsStep(selectedStepObject._id)">
            {{selectedStepObject._id}}
        </div>
    </div>

    <!-- Actions -->
    <div *ngIf="mainSectionFocus === 'processOperationsAction'">
        <span *ngIf="selectedStepObject.event_type === 'create'">
            <span *ngFor="let stepDocument of selectedStepObject.fields | keyvalue">

                <span *ngFor="let processDocument of selectedProcessInstance.document_instances | keyvalue">
                    <span *ngIf="processDocument.key === stepDocument.key">
                        <span *ngFor="let attribute of processDocument.value | keyvalue">
                            <div *ngIf="stepDocument.value.document_fields.includes(attribute.key)">
                                edit {{attribute.key}}: <input type="text" [(ngModel)]="attribute.value" />
                            </div>
                            <div *ngIf="!stepDocument.value.document_fields.includes(attribute.key)">
                                cant edit {{attribute.key}}: {{attribute.value}}
                            </div>
                        </span>
                    </span>
                </span>
                
                <button (click)="check(selectedProcessInstance)">check processinstance</button>

            </span>
        </span>

    </div>
</div>

<!-- Auxiliary section -->
<div>
    <br>
    <br>
    <br>
    <br>
    aux
</div>
