<!-- Navigation section -->
<div>
    Processes
    <div *ngFor="let processId of processTypeIds">
        <div (click)="selectProcess(processId)">
            {{processId}}
        </div>
    </div>
</div>

<!-- Main section -->
<div>
    <div *ngIf="(mainSectionFocus === 'processInformaiton') && (selectedProcessTypeId !== '')">
        <button (click)="createNewProcessInstance(selectedProcessTypeId)">new process instance</button>
    </div>
</div>

<!-- Auxiliary section -->
<div>
    aux
</div>
